/* Mobiles */

/* Global Styles */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

*::selection {
    background-color: transparent;
}

button {
    outline: none;
    border: none;
}

button:active, button:focus {
    outline: none;
    border: none;
}

/* Utilities */
.btn {
    background-color: transparent;
    transform: scale(1);
    transition: .25s all linear;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:active {
    transform: scale(.8);
}

.f-centralize-block-xy {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Regular Styles */

body {
    width: 100vw;
    height: 100vh;
}

.app {
    background-color: black;
    color: white;
    padding: 1em;
    gap: 3em;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 2em;
}

.before {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
    top: 10px;
}

.before:first-child {
    left: 10px;
}

.before:nth-child(2) {
    left: 25px;
}

.before:nth-child(3) {
    left: 40px;
}

.screen {
    flex: .2;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 55px;
    background-color: transparent;
    background-color: grey;
    text-align: right;
    font-size: 3rem;
    padding: 0em;
}

.screen > div {
    align-items: flex-end;
    justify-content: end;
    width: 100%;
    padding: .2em 0em;
}

.operation-holder {
    border-bottom: 2px solid black;
    flex: .5;
    /* overflow: scroll; */
}

/* .operation-holder::-webkit-scrollbar {
    height: 5px;
    background-color: white;
}

.operation-holder::-webkit-scrollbar-thumb {
    background-color: red;
} */

.result-holder {
    font-size: 1.6rem;
    flex: .3;
}

.keys {
    flex: .8;
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 8fr 2fr;
    gap: 2em;
}

.special-operators {
    color: grey;
    place-content: start;
    place-items: center;
    font-size: 1.3rem;
    grid-column: 1/-1;
    grid-row: span 1;
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.numbers {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    font-size: 2rem;
}

.arithmetric-operators {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    place-content: space-between;
    place-items: start;
    font-size: 1.3rem;
}

.arithmetric-operators > * {
    grid-column: span 1;
    grid-row: span 1;
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
}

.equality-sign {
    background-color: orangered;
    grid-column: 2/3;
    grid-row: 3/-1;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    color: white;
    text-align: center;
    border-radius: .3em;
}

/* Media Queries */

/* Tablets */
@media screen and  (min-width: 768px) and (max-width: 1000px) {
    /* Regular Styles */
    .app {
        background-color: rgba(0, 0, 0, 0.827);
    }

    .screen > div {
        padding: 0.5em 0em;
    }

    .keys {
        grid-template-columns: 7fr 3fr;
    }

    .keys > div {
        background-color: black;
    }

    .special-operators {
        font-size: 2.3rem;
    }

    .arithmetric-operators > * {
        font-size: 2.4rem;
    }
}

/* Desktops */
@media screen and  (min-width: 1001px) {
    /* Regular Styles */
    .app {
        width: 50%;
        height: 65vh;
        margin: auto;
        border-radius: .5em;
        box-shadow: 4px 4px 15px black;
        margin: 3em auto;
    }

    .screen {
        height: fit-content;
        min-height: 100px;
    }

    .operation-holder {
        font-size: 2.5rem;
        padding: .1em;
    }

    .special-operators {
        grid-column: span 1;
        grid-row: 1/-1;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 1em;
    }

    .numbers {
        grid-column: span 1;
        grid-row: 1/-1;
    }

    .arithmetric-operators {
        grid-column: span 1;
        grid-row: 1/-1;
    }
}
